<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <!-- <% console.log("adminPage") %> -->

  <h1>Admin</h1>

  <ul>
    <li><a href="#" id="getListUsers">Get list users</a></li>
  </ul>

  <div class="out"></div>

</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="module" src="public/js/adminPage.js"></script>

</html>