<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>






  <a id="adminPage" href="/admin">Admin Page</a>

  <h1>Register</h1>
  <form id="reg">
    <input type="email">
    <input type="password">
    <button type="submit">Send</button>
  </form>
  <br>
  <br>
  <h1>LogIn</h1>
  <div>
    <form id="logIn">
      <input type="email">
      <input type="password">
      <button type="submit">Send</button>
    </form>
    <a id="logOut" href="#">LogOut</a>
  </div>

</body>



<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="module" src="public/js/index.js"></script>


</html>